h1{
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
p{
    text-align: center;
    font-family: cursive;
    font-weight: 600;
    font-style: italic;
    font-size: 3em;
}
body{
    font-size: 16px;
}
ul{
    text-align: center;
    list-style: none;
    line-height: 2 ;
    background-color: 
    rgba(183, 248, 226, 0.61);
}

    

#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#brown{
    background-color: brown;
}
.fundo{
    background-color: antiquewhite;
}